{include file='public/header' /}
<body style='background:#eeeeee url(__STATIC__/index/images/bg.jpg) repeat scroll 0% 0%'>
	<div id='contain' style='width:1002px;margin:0px auto;padding:0px'>
	{include file='public/top' /}
	<div id='content' style='width:1002px;height:470px;background:url(__STATIC__/index/images/cbg.png) repeat-y;margin:0px auto'>
	{include file='public/location' /}
	{include file='public/navLeft' /}
	<!-- 图片详情 -->
	<div id='pdv_16909' class='pdv_class'  title='' style='width:716px;height:381px;top:76px;left:246px; z-index:6'>
		<div id='spdv_16909' class='pdv_content' style='overflow:visible;width:100%;'>
			<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
				<div style="height:25px;margin:1px;display:none;background:;">
					<div style="float:left;margin-left:6px;line-height:25px;font-weight:bold;color:">
					</div>
					<div style="float:right;margin-right:10px;display:none">
						<a href="-1" style="line-height:25px;color:">更多</a>
					</div>
				</div>
				<div style="padding:0px">
					<link href="__STATIC__/index/css/photocontent.css" rel="stylesheet" type="text/css" />
					<div id="piccontent">
						<div class="fcenter">
							<table align="center" cellpadding="10" cellspacing="0">
								<tr>
									<td>
										<div id="contentpages"></div>
									</td>
								</tr>
							</table>
						</div>
						<div class="photozone">
							<table align="center" cellpadding="0" cellspacing="0">
								<tr>
									<td align="center">
										<div id="photoview">
											<img src="__ROOT__/static/index/picture/Company/{$data['image']}" border="0" id="photoloading" class="photoloading">
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class="introzone">
							<div class="title">{$data.title}</div>
							<div id="memo" class="memo" style="display:block">{$data.des}</div>
							<div class="bzone">
								 <input type="hidden" id="photoid" value="44"> 
								<div class="tags" style="display:none">标签：</div>
								<div id="banzhu" class="banzhu"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	{include file='public/bottom' /}
	</div>
	{include file='public/extend' /}
</body>
</html>
