{include file='public/title' /}
<body>
{include file='public/header' /}
{include file='public/menu' /}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i><a href="{:url('Index/index')}" class="maincolor">首页</a><span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray"> 
				<span class="l"> 
					{if condition="$Think.session.menu_permission.Roles['4'] eq '1'"}
					<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量恢复</a> 
					{/if}
					{if condition="$Think.session.menu_permission.Roles['1'] eq '1'"}
					<a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加角色','{:url("Roles/add")}','800')"><i class="Hui-iconfont">&#xe600;</i> 添加角色</a> 
					{/if}
				</span> 
				<span class="r">共有数据：<strong>{$count}</strong> 条</span> 
			</div>
			<div class="mt-10">
			<table class="table table-border table-bordered table-hover table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="6">角色管理</th>
					</tr>
					<tr class="text-c">
						<th width="40">序号</th>
						<th width="100">角色名</th>
						<th>用户列表</th>
						<th width="70">操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name='list' id='vo'}
					<tr class="text-c">
						<td>{$vo.rid}</td>
						<td>{$vo.title}</td>
						<td><p style="text-align: left;"><?php echo implode("&nbsp;&nbsp;",$vo['admins']); ?></p></td>
						<td class="f-14">
							{if condition="$Think.session.menu_permission.Roles['3'] eq '1'"}
							<a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑','{:url("Roles/edit",["id"=>$vo["rid"]])}','1')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>
							</a> 
							{/if}
							{if condition="$Think.session.menu_permission.Roles['2'] eq '1'"}
							<a title="删除" href="javascript:;" onclick="admin_role_del(this,{$vo.rid})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i>
							</a>
							{/if}
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			</div>
		</article>
	</div>
</section>
{include file='public/footer' /}
{include file='public/body_js' /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
function datadel()
{
	layer.confirm('确认要恢复吗？', function(){
		//$(selector).get(url,data,success(response,status,xhr),dataType)
		$.get(
			"{:url('Roles/reset')}",
			function(data)
			{
				if(data.code == 200)
				{
					layer.msg(data.msg, {icon: 6, time: 1000}); //消息弹层1秒后消失
					var timer1=window.setInterval(function()
                     {
                        window.clearInterval(timer1);
                        window.location.reload();                //重新加载页面,显示所有数据
                     },1010);        			
				}
				else
				{
					layer.msg(data.msg, {icon: 5, time: 1000}); //消息弹层1秒后消失
				}
			},'json'
		);
	});
}

/*管理员-角色-添加*/
function admin_role_add(title,url,w,h)
{
	layer_show(title,url,w,h);
}
/*管理员-角色-编辑*/
function admin_role_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*管理员-角色-删除*/
function admin_role_del(obj,id)
{
	layer.confirm('角色删除须谨慎，确认要删除吗？',function(index)
	{
		//$(selector).get(url,data,success(response,status,xhr),dataType)
		$.get(
			"{:url('Roles/delete')}",
			{id:id},
			function(data)
			{
				if(data.code == 200)
				{
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
					var timer1=window.setInterval(function()
                     {
                        window.clearInterval(timer1);
                        window.location.reload();                //重新加载页面,显示所有数据
                     },1010);        			
				}
				else
				{
					layer.msg(data.msg, {icon: 5, time: 1000}); //消息弹层1秒后消失
				}
			},'json'
		);
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>