<div id='bottom' style='width:1002px;height:85px;background:url(__STATIC__/index/images/bottom.png) repeat-x'>
	<!-- 底部菜单（一级） -->
	<div id='pdv_10813' class='pdv_class'   style='width:474px;height:56px;top:27px;left:7px; z-index:2'>
		<div id='spdv_10813' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
			<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
				<div style="height:25px;margin:1px;display:none;background:;">
					<div style="float:left;margin-left:6px;line-height:25px;font-weight:bold;color:">
					</div>
					<div style="float:right;margin-right:10px;display:none">
						<a href="-1" style="line-height:25px;color:">更多</a>
					</div>
				</div>
				<div style="padding:0px">
					<link href="__STATIC__/index/css/a.css" rel="stylesheet" type="text/css" />
					<div id="bottommenu">|
						<a href="{:url('Company/index',['id'=>3])}" target="_self">关于我们</a>|
						<a href="{:url('Service/contact',['id'=>18])}" target="_self">联系方式</a>|
						<a href="{:url('Service/feedback',['id'=>19])}" target="_self">给我留言</a>|
						<a href="{:url('Job/index',['id'=>20])}" target="_self">人才招聘</a>|
						<a href="{:url('Superlink/index',['id'=>26])}" target="_self">友情链接</a>|
					</div>
				</div>
			</div>	
		</div>
	</div>
	<!-- 底部信息编辑区 -->
	<div id='pdv_10807' class='pdv_class'  title='' style='width:439px;height:56px;top:23px;left:555px; z-index:3'>
		<div id='spdv_10807' class='pdv_bottom' style='overflow:hidden;width:100%;height:100%'>
			<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
				<div style="height:25px;margin:1px;display:none;background:;">
					<div style="float:left;margin-left:6px;line-height:25px;font-weight:bold;color:">
					</div>
					<div style="float:right;margin-right:10px;display:none">
						<a href="-1" style="line-height:25px;color:">
							更多
						</a>
					</div>
				</div>
				<div style="padding:0px">
					<div style="width:100%;text-align:center;font:12px/20px Arial, Helvetica, sans-serif">
						<div style="TEXT-ALIGN: center; LINE-HEIGHT: 24px; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #fff">{:config('website_config.WEBSITE_CORYRIGHT')}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>