{include file='public/title' /}
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" enctype="multipart/form-data" method="post" action="{:url('Article/save')}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" id="catename" name="catename" hidden="true">
				<input type="text" class="input-text" value="" placeholder="" id="title" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="cateid" class="select" id="cateid">
					<option value="-1" selected="true">请选择</option>
					{volist name="type" id="vo"}
						<option value="{$vo.mid}">{$vo.title}</option>
					{/volist}
				</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章类型：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box">
				<select name="type" class="select" id="typeid">
				</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">关键词：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="keywords" name="keywords">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章作者：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="author" name="author">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章来源：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="source" name="source">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">缩略图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list"></div>
					 <input type="file" name="image" id="image" />
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">是否上架：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input type="checkbox" id="checkbox-pinglun" name="status">
					<label for="checkbox-pinglun">&nbsp;</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<script id="editor" name="content" type="text/plain" style="width:100%;height:400px;"></script> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-secondary radius" type="button" id="save_btn"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</article>

{include file='public/footer' /}
{include file='public/body_js' /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
	var ue = UE.getEditor('editor');
</script>	
<script>
	$("#cateid").change(function()
	{
		var baseData = $("#cateid").val();
		var arr = {$tempsontype};
	    $("#typeid").empty();
		for(var i = 0,n;n = arr[i]; i++)
		{
			if(baseData == n.pid)
			{
				var option = $("<option>").val(n.mid).text(n.title);
	      		$("#typeid").append(option);
	      		$("#catename").val(n.controller);
			}
		}
		var maxIndex=document.getElementById("typeid").options.length;
		if(maxIndex == 0)
		{
			var option = $("<option>").val(0).text('无子项');
	      	$("#typeid").append(option);
			$("#typeid").attr("disabled","disabled");  
		}
		else
		{
			$("#typeid").removeAttr("disabled");  
		}
	});
</script>
<script>
$(function(){
    $("#save_btn").click(function()
    {
    	var option1 = $("#cateid option:selected").val();
    	var option2 = $("#typeid option:selected").val();
        if($("#title").val() == "" ||$("#content").val() == "" || option1 == '-1' || option2 == 0)
        {
            alert("请完善信息或不能添加");
            return;
        }
        event.preventDefault();
        var form  =document.getElementById('form-article-add'),
        formdata =  new FormData(form);
        $.ajax({
            url :"{:url('Article/save')}",
            type:"POST",
            data:formdata,
            dataType:"json",
            processData:false,
            contentType:false,
            success :function(data)
            {
                if(data.code==200)
                {
                    layer.msg(data.msg, {icon: 6, time: 1000}); //消息弹层1秒后消失
					var timer1=window.setInterval(function()
                    {
                        window.clearInterval(timer1);
                        window.location.reload();                //重新加载页面,显示所有数据
                    },1010);        		
                }
                else
            	{
                    layer.msg(data.msg, {icon: 5, time: 1000}); //消息弹层1秒后消失
//                    window.location.href="javascript:location.replace(location.href);";
                }
            },
        });
    });
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>